{
"extends": "airbnb",
"rules": {
  "func-names": ["error", "never"],
  "indent": [2, 4],
  "max-len": ["error", {
    "code": 120,
    "ignoreComments": true,
    "ignoreUrls": true,
    "ignoreStrings": true,
    "ignoreTemplateLiterals": true,
    "ignoreRegExpLiterals": true
  }],
  "import/no-dynamic-require": "off",
  "global-require": 0
},
"env": {
  "node": true,
  "mocha": true
}
}
